In [14]:
%pip install --upgrade --quiet  langchain langchain-community langchain-openai

Note: you may need to restart the kernel to use updated packages.

In [15]:
import os
import getpass

os.environ['OPENAI_API_KEY'] = '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'

In [18]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('Chinook.db')

# Create a cursor object
cursor = conn.cursor()

# Execute SQL commands from the SQL script file
with open('Chinook_Sqlite.sql', 'r', encoding='utf-8') as sql_script:
    sql_commands = sql_script.read()
    cursor.executescript(sql_commands)

# Commit changes to the database
conn.commit()

# Execute SQL query
cursor.execute("SELECT * FROM Artist LIMIT 10;")
rows = cursor.fetchall()

# Print the retrieved rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

(1, 'AC/DC')
(2, 'Accept')
(3, 'Aerosmith')
(4, 'Alanis Morissette')
(5, 'Alice In Chains')
(6, 'Antônio Carlos Jobim')
(7, 'Apocalyptica')
(8, 'Audioslave')
(9, 'BackBeat')
(10, 'Billy Cobham')

In [19]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///Chinook.db")
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM Artist LIMIT 10;")

sqlite
['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

"[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains'), (6, 'Antônio Carlos Jobim'), (7, 'Apocalyptica'), (8, 'Audioslave'), (9, 'BackBeat'), (10, 'Billy Cobham')]"

In [20]:
from langchain_community.utilities import SQLDatabase

# Assuming you have already initialized the SQLDatabase object
db = SQLDatabase.from_uri("sqlite:///Chinook.db")

# Print the database dialect
print(db.dialect)

# Get and print all the usable table names in the database
table_names = db.get_usable_table_names()
print("Available Tables:")
for table_name in table_names:
    print(table_name)

# Execute your query
# db.run("SELECT * FROM Artist LIMIT 10;")

sqlite
Available Tables:
Album
Artist
Customer
Employee
Genre
Invoice
InvoiceLine
MediaType
Playlist
PlaylistTrack
Track

In [24]:
from langchain.chains import create_sql_query_chain
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0)
chain = create_sql_query_chain(llm, db)
response = chain.invoke({"question": "How many employees are there"})
response

'SELECT COUNT("EmployeeId") AS "TotalEmployees" FROM "Employee"\nLIMIT 1;'

In [25]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool

execute_query = QuerySQLDataBaseTool(db=db)
write_query = create_sql_query_chain(llm, db)
chain = write_query | execute_query
chain.invoke({"question": "How many employees are there"})

'[(8,)]'

In [26]:
from operator import itemgetter

from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

Question: {question}
SQL Query: {query}
SQL Result: {result}
Answer: """
)

answer = answer_prompt | llm | StrOutputParser()
chain = (
    RunnablePassthrough.assign(query=write_query).assign(
        result=itemgetter("query") | execute_query
    )
    | answer
)

chain.invoke({"question": "How many employees are there"})

'There are a total of 8 employees.'

In [29]:
questionsList = [
"How many employees are there?",
"Which artist have highest and lowest number of albumns?",
"Which customer is most active as per track purchase?",
"Which track is most selling and lowest selling?",
"Give Genre wise ttotal and average number of tracks?",
"How many playlist have more than 10 number of tracks?"
]

In [33]:
from operator import itemgetter

from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

Question: {question}
SQL Query: {query}
SQL Result: {result}
Answer: """
)

answer = answer_prompt | llm | StrOutputParser()
chain = (
    RunnablePassthrough.assign(query=write_query).assign(
        result=itemgetter("query") | execute_query
    )
    | answer
)

import time

start_time = time.time()
for query in questionsList:
    print("\n\n",query, "\n")
    print(chain.invoke({"question": query}))
    

end_time = time.time()
elapsed_time = end_time - start_time

print("Total time taken:", elapsed_time, "seconds")

 How many employees are there?

There are a total of 8 employees.


 Which artist have highest and lowest number of albumns?

The SQL query provided is attempting to find the artist with the highest number of albums, but it seems to have a syntax error. The error is likely due to the fact that two separate queries are being executed together. To fix this issue, the two queries should be separated and executed individually.

To find the artist with the highest number of albums, the corrected SQL query would be:
```
SELECT "Name" AS "Artist", COUNT("AlbumId") AS "Number of Albums"
FROM "Artist"
JOIN "Album" ON "Artist"."ArtistId" = "Album"."ArtistId"
GROUP BY "Artist"
ORDER BY COUNT("AlbumId") DESC
LIMIT 1
```

To find the artist with the lowest number of albums, the corrected SQL query would be:
```
SELECT "Name" AS "Artist", COUNT("AlbumId") AS "Number of Albums"
FROM "Artist"
JOIN "Album" ON "Artist"."ArtistId" = "Album"."ArtistId"
GROUP BY "Artist"
ORDER BY COUNT("AlbumId") ASC
LIMIT 1
```

By executing these queries separately, you will be able to determine which artist has the highest and lowest number of albums.


 Which customer is most active as per track purchase?

The customer who is most active in terms of track purchases is Manoj Pareek, with a total of 38 tracks purchased.


 Which track is most selling and lowest selling?

The error message indicates that there is an ambiguous column name "TrackId" in the SQL query. To fix this issue, you need to specify which table the "TrackId" column belongs to in the query. You can do this by prefixing the column name with the table name or alias.

Once the query is corrected, you can find the most selling and lowest selling tracks by looking at the results of the updated SQL queries. The first query with ORDER BY "TotalSold" DESC will give you the track that has sold the most, while the second query with ORDER BY "TotalSold" ASC will give you the track that has sold the least.


 Give Genre wise ttotal and average number of tracks?

The SQL query provides the total and average number of tracks for the top 5 genres based on the total number of tracks. The results show that Rock has the highest total number of tracks with 1297 and an average price of 0.99. Latin has 579 tracks with an average price of 0.99, Metal has 374 tracks with an average price of 0.99, Alternative & Punk has 332 tracks with an average price of 0.99, and Jazz has 130 tracks with an average price of 0.99.


 How many playlist have more than 10 number of tracks?

There are 12 playlists that have more than 10 tracks.
Total time taken: 32.10667300224304 seconds

In [34]:
32.10667300224304/60

0.5351112167040507